<%= form_for @kitten do |f| %>
    <% if @kitten.errors.any? %>
        <ol>
            <% @kitten.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ol>
    <% end %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :age %>
    <%= f.select :age, (1..20).to_a %>
    
    <%= f.label :cuteness %>
    <%= f.select :cuteness, (1..10).to_a %>
    
    <%= f.label :softness %>
    <%= f.select :softness, (1..10).to_a %>
    
    <%= f.submit "Submit" %>
<% end %>